<form #f="ngForm" (ngSubmit)="submit(f.value)" *ngIf="pass==1">
<div class="produit">
  <h4>Sélectionnez vos produits</h4>
  <table>
    <tr><td rowspan="4"> 
<span class="prod">Produits disponibles :</span>

<div>
  <select name="produits"  multiple (change)='onchangeItemProd()'ngModel >
    
    <option [value]="prod"  *ngFor="let prod of produits" name="name"  >{{prod}}</option> 
  </select>
  </div>
</td><td>
  <button type="submit" title="Ajouter" [disabled]="produits.length==0 || selectedProd==false" (click)="Ajouter()"class="btn" aria-label="Left Align">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="30" fill="white" class="bi bi-skip-end-btn" viewBox="0 0 16 16">
      <path d="M6.79 5.093 9.5 7.028V5.5a.5.5 0 0 1 1 0v5a.5.5 0 0 1-1 0V8.972l-2.71 1.935A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .79-.407z"/>
      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
    </svg>
  </button></td>
<td rowspan="4">
  <span class="prod">Produits à inclure :</span>

<div>
  <select  name="prodsInclure"  multiple  ngModel (change)='onchangeItemProdInclu()'>
    
    <option *ngFor="let pro of prodsInclure">{{pro}}</option>

    
  </select>
  </div>
</td></tr>
<tr>
  <td> 
    <button type="submit" title="AjouterTous" [disabled]="produits.length==0"(click)="AjouterTous()" type="submit" class="btn" aria-label="Left Align">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"  fill="white" class="bi bi-skip-forward-btn" viewBox="0 0 16 16">
    <path d="M4.79 5.093A.5.5 0 0 0 4 5.5v5a.5.5 0 0 0 .79.407L7.5 8.972V10.5a.5.5 0 0 0 .79.407L11 8.972V10.5a.5.5 0 0 0 1 0v-5a.5.5 0 0 0-1 0v1.528L8.29 5.093a.5.5 0 0 0-.79.407v1.528L4.79 5.093z"/>
    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
  </svg></button></td>
</tr>
<tr>
  <td> 
    <button type="submit" title="Retirer"  [disabled]="prodsInclure.length==0 || selectedProdInclu==false" (click)="Retirer()"  class="btn" aria-label="Left Align">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"  fill="white" class="bi bi-skip-start-btn" viewBox="0 0 16 16">
    <path d="M9.71 5.093a.5.5 0 0 1 .79.407v5a.5.5 0 0 1-.79.407L7 8.972V10.5a.5.5 0 0 1-1 0v-5a.5.5 0 0 1 1 0v1.528l2.71-1.935z"/>
    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
  </svg>
</button>
</td>
</tr>
<tr>
  <td>
    <button type="submit" title="RetirerTous"(click)="RetirerTous()"  [disabled]="prodsInclure.length==0" class="btn" aria-label="Left Align">
     <svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"  fill="white" class="bi bi-skip-backward-btn" viewBox="0 0 16 16">
    <path d="M11.21 5.093A.5.5 0 0 1 12 5.5v5a.5.5 0 0 1-.79.407L8.5 8.972V10.5a.5.5 0 0 1-.79.407L5 8.972V10.5a.5.5 0 0 1-1 0v-5a.5.5 0 0 1 1 0v1.528l2.71-1.935a.5.5 0 0 1 .79.407v1.528l2.71-1.935z"/>
    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
  </svg>
  </button>
</td>
</tr>
</table>
<div [ngPlural]="prodsInclure.length">
  <ng-template ngPluralCase="=0">Aucun produit</ng-template>
  <ng-template ngPluralCase="=1">1 produit inclus</ng-template>
  <ng-template ngPluralCase="other">{{prodsInclure.length}} produits inclus</ng-template>
</div>

<button type="submit" (click)="pass=2"class="btn btn-primary">Etape suivante <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
</svg></button>


</div>
</form>
<div class="produit" *ngIf="pass==2">
  <h4>votre choice</h4>
  <ul>
    <li *ngFor="let prod of prodsInclure">
{{prod}} <hr/>
    </li>
   
  </ul>
  <button type="submit" (click)="pass=1" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
  </svg>  Retour au choix précédent
  </button>
  </div>